<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initialscale=1">
<title>{{title}}</title>
<link rel="stylesheet" href=“https://maxcdn.bootstrapcdn.com/
bootstrap/4.4.1/css/bootstrap.min.css">

<table>
  <tr>
    <th> <button type="button" onclick="location.href='/new'">
 Add new entry
 </button></th>
  </tr>
  <tr>
    <td> <button type="button" onclick="location.href='/'">
 View All Entries
 </button></td>   
  </tr>

<tr>
  <td>
 </td>
 </tr>

  <tr>
    <td>
    </td>
  </tr>
</table>






