
<meta charset="uh-8">
<meta name="viewport" content="width=device-width, ini1al-scale=1">
<1tle>Express Demo Guestbook</1tle>
<link rel="stylesheet" href=“h@ps://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/
bootstrap.min.css">

<html lang="en">
<head>
{{>header}}
</head>
<body class="container">
<h1>{{title}}</h1>
<h2>New User Registraion</h2>

<form method="post" role="/register">
 <div class="form-group">
{{user-name-error}}
 <label for="username">User Name</label>
 <input type="text" class="form-control" id="username"
 name="username" placeholder="Enter user name" required>
 </div>
 <div class="form-group">
 <label for="password">Password (8 characters minimum)</label>
 <input type="password" class="form-control" id="pass" name="pass" placeholder="Enter password" minlength="8" required> 
</div>
 <div class="form-group">
 <input type="submit" value="Register" class="btn btn-primary">
 </div>
</form>
</body>
</html> 
